@font-face {
  font-family: 'AfjatTrends';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('AfjatTrends-Light'),
    url("../../fonts/AfjatTrends-Light.woff2") format("woff2")
}